*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
}

.estructura {
    display: grid;
    grid-template-areas: 
    "header"
    "main"
    "footer";
    grid-template-columns:1fr;
    grid-template-rows: 0.5fr 10fr 0.5fr;
}

header{
    display: flex;
    align-items: center;
    grid-area: header;
}

header img{
    width: 50%;
    margin-left: 3%;
}

header div{
    padding: 0.5rem;
    width: 45%;
    align-items: center;
}

header ul li{
    list-style-type: none;
    font-weight: 400;
    font-size: 1rem;
    text-align: center;
    text-decoration: none;
    align-content: space-between;
}

header ul a{
    text-decoration: none;
    color: #B82312;
}

header nav{
    width: 100%;
}

header nav ul{
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    align-items: center;
}

header a:hover{
    color: #041E02;
}

footer{
    background-color: #cbbfbf9c;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    grid-area: footer;
}

footer div{
    width: 100%;
    padding: 1rem;
}

footer div p{
    align-items: center;
    line-height: 1.5rem;
}

.footerSabias div p{
    line-height: 1rem;
}

footer ul li{
    list-style-type: none;
    font-weight: 400;
    font-size: 1rem;
    text-align: center;
    text-decoration: none;
}

footer ul a{
    text-decoration: none;
    color: #041E02;
}

footer nav{
    width: 100%;
    display: flex;
    justify-content: center;
}

footer nav ul{
    display: flex;
    justify-content: space-between;
    width: 35rem;
    align-items: center;
}

footer div p{
    color: #041E02;
    font-style: italic;
    display: flex;
    justify-content: center;
}

footer a:hover{
    color: #B82312;
}

body{
    background-image: url(../assets/img/background.png);
    width:100%;
}

h1{
    color: #345911;
    font-size: 3.5rem;
    font-weight: lighter;
    font-family: 'Clicker Script', cursive;
    display: flex;
    justify-content: center;
    align-items: center;
}

main{
    height: 100%;
    display: flex;
    flex-direction: column;
    align-content: flex-start;
    justify-content: flex-start;
    grid-area: main;
}

.mainIndex{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: 120vh;
}

.mainIndex h1{
    color: #345911;
    font-size: 6rem;
    text-align: center;
    font-weight: lighter;
    font-family: 'Clicker Script', cursive;
}

.mainIndex h2{
    color: #345911;
    width:45%;
    font-size: 1rem;
    font-family: 'Raleway';
    display: flex;
    align-items: center;
    justify-content: center;
}

.btnPedidos{
    padding: 8%;
}

.btnPedidos button{
    padding: 1rem;
    width: 15rem;
    font-size: 1.3rem;
    border-radius: 5rem;
    border-style: solid;
    border-color: #345911;    
}

.btnPedidos button a{
    color: #345911;
    text-decoration: none;
}

.btnPedidos button:hover{
    transform: scale(1.2)
}

.solana{
    margin: 0rem 3rem 0rem 3rem;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.solana img{
    width: auto;
    height: 20rem;
    border-radius: 20%;
    opacity: 85%;
}

.solana p{
    color: #041E02;
    margin: 2rem;
    font-size: 1.2rem;
    text-align: justify;
    line-height: 2.5rem;
}

h2{
    color: #041E02;
    font-size: 2rem;
    font-family: 'Raleway';
    font-weight: lighter;
    display: flex;
    align-items: center;
}

.h2Conocenos{
    margin: 3rem 3rem 0rem 5rem;
}

.munay{
    margin: 0rem 3rem 0rem 3rem;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.munay img{
    width: auto;
    height: 20rem;
    border-radius: 20%;
}

.munay p{
    color: #041E02;
    margin: 2rem;
    font-size: 1.2rem;
    text-align: justify;
    line-height: 2.5rem;
}

.sabias{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.carousel{
    width: 50%;
    margin: 0rem 0rem 2rem 0rem;
}

.sabias h2 {
    width: 100%;
    padding: 1rem;
    margin-left: 15rem;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}

.video{
    padding: 1rem;
    display: flex;
    justify-content: center;
}

.mates{
    width: 100%;
}

.mates h2{
    margin-left: 3rem;
}

.mates div{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.mates div div{
    background-color: #ff633352;
    width: 15rem;
    height: 20rem;
    margin: 3rem;
    padding: 1rem;
    border-radius: 5%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.mates div img{
    width: auto;
    height: 10rem;
}

.mates div h3{
    color: #041E02;
}

.mates div p{
    color: #041E02;
    text-align: center;
}

.cuencos{
    width: 100%;
}

.cuencos h2{
    margin-left: 3rem;
}

.cuencos div{
    background-color: #ff633352;
    width: 15rem;
    height: 20rem;
    margin: 3rem 3rem 3rem 9rem;
    padding: 1rem;
    border-radius: 5%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.cuencos div img{
    width: auto;
    height: 10rem;
}

.cuencos div h3{
    color: #041E02;
}

.cuencos div p{
    color: #041E02;
    text-align: center;
}

.contactame h2{
    width: 85%;
    font-size: 2rem;
    margin-left: 3rem;
}

.contForm{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.contForm h3{
    font-size: 1.5rem;
    margin-bottom: 1rem;
    font-weight: 400;
    color: #FF6333
}

.izquierda{
    width: 50%;
    height: 100%;
    padding: 2rem;
    display: flex;
    flex-direction: column;
}

.pedidos{
    margin: 0rem 3rem 3rem 1rem;
}

.pedidos p{
    color: #345911;
    text-align: justify;
    font-size: 1rem;
    line-height: 2.5rem;
}

.redes{
    margin: 3rem 3rem 2rem 1rem;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-end;
}

.redes i{
    color: grey;
    margin: 0.5rem 0.5rem 0rem 1.5rem;
    width: 3rem;
    height: auto;
    cursor: pointer;
}

.redes i:hover{
    color: #345911;
}
/*pasado a scss*/
.formulario{
    padding: 3rem;
    display: flex;
    flex-direction: column;
    width: 50%;
    border-left: double 0.5rem #FF6333;
}

.contForm form .campo, textarea{
    width: 20rem;
    padding: 15px 10px;
    font-size: 1rem;
    border: solid grey;
    margin-bottom: 0.5rem;
    border-radius: 5px;
    outline: 0;
}

.contForm form textarea{
    max-width: 20rem;
    min-width: 20rem;
    min-height: 10rem;
    max-width: 12rem;
}

.contForm .btnEnviar{
    padding: 15px;
    font-size: 16px;
    border: none;
    outline: 0;
    background: #FF6333;
    color: #EBDBC9;
    border-radius: 3px;
    cursor: pointer;
    transition: all 300ms ease;
}

.contForm .btnEnviar:hover{
    background: #ff633385;
}

@media screen and (max-width:1024px) {
    .estructura {
        display: grid;
        grid-template-areas:    "header"
                                "main";
        grid-template-rows: 1fr 10fr;
    }

    footer {
        display: none;
    }

    .carousel{
        width: 80%;
    }

    .sabias h2 {
        width: 90%;
        margin: 0;
        padding: 1rem;
        margin-left: 4rem;
    }

    .cuencos div{
        margin-left: 4rem;
    }
}

#menu, #menuCheck{
    display: none;
}

@media screen and (max-width:768px) {
    #menuCheck:not(:checked) ~ nav{
        display: none;
    }    

    #menuCheck:checked ~ nav{
        display: block;
    }
    
    #menu{
        display: block;
        color: #B82312;
        font-size: 3rem;
        position: absolute;
        right: 2rem;
    }

    #menuCerrar{
        display: none;
    }

    #menuCheck:checked ~ label #menuAbrir{
        display: none;
    }

    #menuCheck:checked ~ label #menuCerrar{
        display: block;
    }

    header img{
        width: 70%;
    }

    header nav{
        position: absolute;
        top: 9rem;
        right: 0;
        height: 40%;
        width: 35%;
        background-color: #b82312d7;
        border-radius: 10px;
        color: #EBDBC9;
        z-index: 9999;
    }

    header nav a{
        color: #EBDBC9;
        font-size: 1.5rem;
        margin: 2rem;
        padding: rem;
        line-height: 3rem;
    }

    header nav ul, header nav ul li{
        display: block;
        text-align: right;
        margin-top: 1.5rem;
    }

    .solana{
        display: block;
    }

    .solana div{
        display:flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .munay{
        margin-top: 0;
        display: block;
    }

    .munay div{
        margin: 0%;
        display:flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .video{
        width: 90%;
    }

    .cuencos div{
        margin-left: 6rem;
    }

    .contForm{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .izquierda{
        width: 90%;
        order: 2
    }

    .pedidos{
        margin: 1rem;
        order:2;
    }

    .redes{
        width: 100%;
        margin-top: 1rem;
        padding: 0;
        justify-content:flex-start;
        align-items: center;
        order: 1
    }

    .formulario{
        width: 90%;
        justify-content: flex-start;
        border: none;
        order: 1;
    }

    .redes, .formulario{
        display: flex;
        flex-direction: row;
    }
}

@media screen and (max-width:480px) {
    .estructura {
        display: block;
    }
    
    #menu{
        font-size: 1.5rem;
    }
    
    header img{
        width: 90%;
    }

    header nav{
        top: 7rem;
        height: 40%;
        width: 40%;
    }

    header nav a{
        font-size: 1rem;
        margin: 1rem;
        padding: 1rem;
        line-height: 1rem;
    }

    .mainIndex h1{
        color: #345911;
        font-size: 3rem;
        text-align: center;
    }
    
    .mainIndex h2{
        color: #345911;
        width:50%;
        margin-top: 1rem;
        font-size: 0.65rem;
        text-align: center;
    }

    .btnPedidos button{
        padding: 0.5rem;
        width: 8rem;
        font-size: 1rem;
        border-radius: 5rem;
    }

    .btnPedidos button:hover{
        transform: none;
    }

    main{
        width: 100%;
        align-items: center;
    }

    .solana{
        margin: 0;
        width: 90%;
        flex-direction: column;
    }
    
    .solana img{
        margin: 0;
        height: 18rem;
    }
    
    .solana p{
        margin: 0.5rem;
        font-size: 1rem;
        line-height: 1.5rem;
    }

    .h2Conocenos{
        width: 100%;
        font-weight: 600;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    h2{
        width: 85%;
        font-size: 1rem;
        text-align: center;
    }
    
    .h2Conocenos{
        margin: 0.5rem
    }
    
    .munay{
        margin: 0;
        flex-direction: column;
        align-items: center;
    }
    
    .munay img{
        height: 20rem;
    }
    
    .munay p{
        margin: 1rem 2rem;
        font-size: 1rem;
        line-height: 1.5rem;
    }

    .carousel{
        width: 90%;
    }

    .sabias h1{
        width: 90%;
        font-size: 3rem;
        text-align: center;
    }

    .sabias h2 {
        width: 90%;
        padding: 0;
        margin: 1rem;
        text-align: center;
        font-size: 1.5rem;
    }
    
    .video{
        padding: 1rem;
        display: flex;
        justify-content: center;
    }

    .video iframe{
        width: 75%;
    }

    body h1{
        width: 85%;
        font-size: 3rem;
        text-align: center;
    }

    .mates{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .mates div{
        margin: 0%;
    }

    .mates h2{
        margin: 1.5rem;
        font-size: 1.5rem;
    }

    .cuencos{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .cuencos div{
        margin: 0
    }

    .cuencos h2{
        margin: 1.5rem;
        font-size: 1.5rem;
    }

    .contactame h2{
        width: 90%;
        margin: 0;
        font-size: 1.5rem;
    }

    .contForm{
        width: 100%;
        margin: 0;
        padding: 0%;
    }

    .pedidos{
        width: 90%;
        margin: 0;
        padding: 1rem;
    }

    .redes{
        width: 90%;
        margin: 0;
        padding: 1rem;
    
    }

    .formulario{
        width: 100%;
        margin: 1rem 1rem 0rem 1rem;
        padding: 1rem;
        width: 90%;
    }

    .contForm form .campo, textarea{
        width: 18rem;
    }
    
    .contForm form textarea{
        max-width: 18rem;
        min-width: 18rem;
    }

    .izquierda{
        width: 100%;
        padding: 0%;
        align-items: center;
    }

    .contForm h3{
        font-size: 1.2rem;
    }

    .redes a{
        font-size: 0.9rem;
    }
}