footer {
    background-color: $backfooter;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    grid-area: footer;

    div {
        width: 100%;
        padding: 1rem;

        p {
            align-items: center;
            line-height: 1.5rem;
            color: $tittles;
            font-style: italic;
            display: flex;
            justify-content: center;
        }
    }

    nav {
        width: 100%;
        display: flex;
        justify-content: center;

        ul {
            display: flex;
            justify-content: space-between;
            width: 35rem;
            align-items: center;

            li {
                list-style-type: none;
                font-weight: 400;
                font-size: 1rem;
                text-align: center;
                text-decoration: none;

                a {
                    text-decoration: none;
                    color: #041E02;

                    &:hover {
                        color: #B82312;
                    }
                }
            }

        }
    }

}

.footerSabias {
    div {
        p {
            line-height: 0.5rem;
        }
    }
}