.formulario {
    padding: 3rem;
    display: flex;
    flex-direction: column;
    width: 50%;
    border-left: double 0.5rem #FF6333;
}

.contForm {
    form {

        .campo,
        textarea {
            width: 20rem;
            padding: 15px 10px;
            font-size: 1rem;
            border: solid grey;
            margin-bottom: 0.5rem;
            border-radius: 5px;
            outline: 0;
        }

        textarea {
            max-width: 20rem;
            min-width: 20rem;
            min-height: 10rem;
            max-width: 12rem;
        }
    }
}