header {
    display: flex;
    align-items: center;
    grid-area: header;
    height: 25vh;
    width: 98.5vw;

    img {
        width: 50%;
        margin-left: 1vw;
    }

    div {
        padding: 0.5rem;
        width: 45%;
        align-items: center;
    }

    ul {
        li {
            list-style-type: none;
            font-weight: 400;
            font-size: 1rem;
            text-align: center;
            text-decoration: none;
            align-content: space-between;
        }

        a {
            text-decoration: none;
            color: $navtext;

            &:hover {
                color: $tittles;
            }
        }
    }

    nav {
        width: 97vw;

        ul {
            display: flex;
            justify-content: space-evenly;
            width: 100%;
            align-items: center;
        }
    }
}

/*menu hamburguesa*/
#menu,
#menuCheck {
    display: none;
}