header{
    display: flex;
    align-items: center;
    grid-area: header;
}

header img{
    width: 50%;
    margin-left: 3%;
}

header div{
    padding: 0.5rem;
    width: 45%;
    align-items: center;
}

header ul li{
    list-style-type: none;
    font-weight: 400;
    font-size: 1rem;
    text-align: center;
    text-decoration: none;
    align-content: space-between;
}

header ul a{
    text-decoration: none;
    color: #B82312;
}

header nav{
    width: 100%;
}

header nav ul{
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    align-items: center;
}

header a:hover{
    color: #041E02;
}