.solana {
    img {
        width: auto;
        height: 20rem;
        border-radius: 20%;
        opacity: 85%;
    }
}

.munay {
    img {
        width: auto;
        height: 20rem;
        border-radius: 20%;
    }
}

.carousel {
    width: 50%;
    margin: 0rem 0rem 2rem 0rem;
}

.video {
    padding: 1rem;
    display: flex;
    justify-content: center;
}

.mates {
    div {
        img {
            width: auto;
            height: 10rem;
        }
    }
}

.cuencos {
    div {
        img {
            width: auto;
            height: 10rem;
        }
    }
}

.redes {
    i {
        color: $border;
        margin: 0.5rem 0.5rem 0rem 1.5rem;
        width: 3rem;
        height: auto;
        cursor: pointer;

        &:hover {
            color: $text;
        }
    }
}

.redes i:hover {
    color: $text;
}