h1 {
    @include tittleStyle ($tittles, 3.5rem, $italic);
    display: flex;
    justify-content: center;
    align-items: center;
}

h2 {
    @include tittleStyle($tittles, 2rem, $webfont);
    display: flex;
    align-items: center;
}

.mainIndex {
    h1 {
        color: $tittles;
        font-size: 6rem;
        text-align: center;
        font-weight: lighter;
        font-family: $italic;
    }

    h2 {
        color: $tittles;
        width: 45%;
        font-size: 1rem;
        font-family: $webfont;
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

.h2Conocenos {
    margin: 3rem 3rem 0rem 5rem;
}

.sabias {
    h2 {
        width: 100%;
        padding: 1rem;
        margin-left: 15rem;
        display: flex;
        flex-direction: row;
        align-items: flex-start;
    }
}

.mates {
    h2 {
        margin-left: 3rem;
    }

    div {
        h3 {
            color: $tittles;
        }
    }
}

.cuencos {
    h2 {
        margin-left: 3rem;
    }

    div {
        h3 {
            color: $tittles;
        }
    }
}

.contactame {
    h2 {
        width: 85%;
        font-size: 2rem;
        margin-left: 3rem;
    }

    .contForm {
        h3 {
            font-size: 1.5rem;
            margin-bottom: 1rem;
            font-weight: 400;
            color: $jazzy;
        }
    }
}