@media screen and (max-width:1024px) {
    footer {
        display: none;
    }

    .carousel {
        width: 80%;
    }

    .sabias {
        h2 {
            width: 90%;
            margin: 0;
            padding: 1rem;
            margin-left: 4rem;
        }
    }

    .cuencos {
        div {
            margin-left: 4rem;
        }
    }
}

@media screen and (max-width:768px) {
    #menuCheck:not(:checked)~nav {
        display: none;
    }

    #menuCheck:checked~nav {
        display: block;
    }

    #menu {
        display: block;
        color: $navtext;
        font-size: 2.5rem;
        position: absolute;
        right: 2rem;
    }

    #menuCerrar {
        display: none;
    }

    #menuCheck:checked~label #menuAbrir {
        display: none;
    }

    #menuCheck:checked~label #menuCerrar {
        display: block;
    }

    header {
        img {
            width: 70%;
        }

        nav {
            position: absolute;
            top: 9rem;
            right: 0;
            height: 40%;
            width: 35%;
            background-color: $backmenu;
            border-radius: 10px;
            color: $light;
            z-index: 9999;

            a {
                color: $light;
                font-size: 1.5rem;
                margin: 2rem;
                padding: 1rem;
                line-height: 3rem;
            }

            ul,
            li {
                display: block;
                text-align: right;
                margin-top: 1.5rem;
            }
        }
    }

    .solana {
        display: block;

        div {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
    }

    .h2Conocenos {
        h2 {
            text-align: center;
        }
    }

    .munay {
        margin-top: 0;
        display: block;

        div {
            margin: 0%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
    }

    .video {
        width: 90%;
    }

    .cuencos {
        div {
            margin-left: 6rem;
        }
    }

    .contForm {
        display: flex;
        flex-direction: column;
        align-items: center;

        .izquierda {
            width: 90%;
            order: 2;

            .pedidos {
                margin: 1rem;
                order: 2;
            }

            .redes {
                width: 100%;
                margin-bottom: 3vh;
                padding: 0;
                justify-content: flex-start;
                align-items: center;
                order: 1
            }
        }

        .formulario {
            width: 90%;
            margin: 3rem 0 0 6rem;
            padding: 0;
            justify-content: center;
            border: none;
            order: 1;
        }
    }

    .redes,
    .formulario {
        display: flex;
        flex-direction: row;
    }
}

@media screen and (max-width:480px) {
    .estructuraIndex {
        display: grid;
        grid-template-areas: "header"
            "main";
        grid-template-rows: 0.5fr 2fr;
    }

    .estructuraProductos {
        display: grid;
        grid-template-areas: "header"
            "main";
        grid-template-rows: 0.1fr 6fr;
    }

    .estructuraConocenos {
        display: grid;
        grid-template-areas: "header"
            "main";
        grid-template-rows: 0.1fr 4fr;
    }

    .estructuraSabias {
        display: grid;
        grid-template-areas: "header"
            "main";
        grid-template-rows: 0.5fr 6.5fr;
    }

    .estructuraContactame {
        display: grid;
        grid-template-areas: "header"
            "main";
        grid-template-rows: 0.5fr 3fr;
    }

    #menu {
        font-size: 1.5rem;
    }

    header {
        img {
            width: 90%;
        }

        nav {
            top: 15vh;
            height: 40vh;
            width: 50vw;
            text-align: right;

            a {
                font-size: 1rem;
                margin: 1rem;
                padding: 1rem;
                line-height: 1rem;
            }
        }
    }

    .mainIndex {
        h1 {
            color: $tittles;
            margin: 0;
            font-size: 3rem;
            text-align: center;
        }

        h2 {
            color: $tittles;
            width: 50%;
            margin-top: 1rem;
            font-size: 0.65rem;
            text-align: center;
        }

        .btnPedidos {
            button {
                padding: 0.5rem;
                width: 8rem;
                font-size: 1rem;
                border-radius: 5rem;
                align-items: center;

                &:hover {
                    transform: none;
                }
            }
        }
    }

    main {
        h1 {
            margin-left: 2rem;
            text-align: center;
        }
    }

    .solana {
        margin: 0;
        width: 100%;
        display: flex;
        flex-direction: column;

        div {
            width: 100%;
            justify-content: center;
            align-items: center;

            img {
                margin: 0;
                height: 18rem;
            }
        }

        div {
            width: 90%;
            justify-content: center;
            align-items: center;

            p {
                width: 100%;
                font-size: 1rem;
                line-height: 1.5rem;
            }
        }
    }

    .h2Conocenos {
        margin: 0;
        padding: 0;
        width: 95%;
        font-weight: 600;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    h2 {
        width: 85%;
        font-size: 1rem;
        text-align: center;
    }

    .h2Conocenos {
        margin: 0.5rem
    }

    .munay {
        margin: 0;
        flex-direction: column;
        align-items: center;

        img {
            height: 20rem;
        }

        p {
            margin: 1rem 2rem;
            font-size: 1rem;
            line-height: 1.5rem;
        }
    }

    .carousel {
        width: 90%;
    }

    .sabias {
        h1 {
            width: 90%;
            font-size: 3rem;
            text-align: center;
        }

        h2 {
            width: 90%;
            padding: 0;
            margin: 1rem;
            text-align: center;
            font-size: 1.5rem;
        }
    }

    .video {
        padding: 1rem;
        display: flex;
        justify-content: center;

        iframe {
            width: 75%;
        }
    }

    body {
        h1 {
            width: 85%;
            font-size: 3rem;
            text-align: center;
        }
    }

    .mates {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        div {
            margin: 0%;
        }

        h2 {
            margin: 1.5rem;
            font-size: 1.5rem;
        }
    }

    .cuencos {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        div {
            margin: 0
        }

        h2 {
            margin: 1.5rem;
            font-size: 1.5rem;
        }
    }

    .contactame {
        h2 {
            width: 90%;
            margin-left: 6vw;
            font-size: 1.5rem;
        }

        .contForm {
            width: 100%;
            margin: 0;
            padding: 0%;

            h3 {
                font-size: 1.2rem;
            }

            .izquierda {
                width: 100%;
                padding: 0%;
                align-items: center;

                .pedidos {
                    width: 90%;
                    margin: 0;
                    padding: 1rem;
                }

                .redes {
                    width: 90%;
                    margin: 0;
                    padding: 1rem;

                    a {
                        font-size: 0.9rem;
                    }
                }
            }

            .formulario {
                width: 100%;
                margin: 1rem 1rem 0rem 1rem;
                padding: 1rem;
                width: 90%;

                form {

                    .campo,
                    textarea {
                        width: 18rem;
                    }

                    textarea {
                        max-width: 18rem;
                        min-width: 18rem;
                    }
                }
            }
        }
    }
}